<?xml version="1.0" encoding="utf-8"?>

<robot name="carver_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find carver_description)/urdf/carver.xacro" />
  <xacro:include filename="$(find carver_description)/urdf/gazebo_control.xacro" />
  <xacro:include filename="$(find carver_description)/urdf/imu.xacro" />
  <xacro:include filename="$(find carver_description)/urdf/laser.xacro" />
  <xacro:include filename="$(find carver_description)/urdf/gps.xacro" />

 
</robot>