<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Gazebo ROS2 Control Plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <!-- Path to your ROS2 control config -->
      <parameters>$(find carver_gazebo)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin name="ground_truth_plugin" filename="libgazebo_ros_p3d.so">
      <ros>
        <namespace>/ground_truth</namespace>
        <remapping>odom:=pose</remapping>

      </ros>
      <body_name>base_footprint</body_name>
      <frameName>map</frameName>
      <updateRate>100.0</updateRate>
    </plugin>
  </gazebo>
 -->

  <!-- ROS2 Control block -->
  <ros2_control name="carver_description" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- Four wheel joints, using velocity commands -->
    <joint name="front_left_steering_front_left_wheel_joint">
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_right_steering_front_right_wheel_joint">
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="base_rear_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="base_rear_right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- Steering joints, using a position interface -->
    <joint name="base_front_left_sterring_joint">
      <command_interface name="position">
      </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="base_front_right_sterring_joint">
      <command_interface name="position">
      </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

  <xacro:include filename="$(find carver_description)/urdf/gazebo.xacro" />

  <!-- Actuator configurations -->
  <xacro:carver_wheel_transmission wheel_prefix="front_left_steering_front_left" />
  <xacro:carver_wheel_transmission wheel_prefix="front_right_steering_front_right" />
  <xacro:carver_wheel_transmission wheel_prefix="base_rear_left" />
  <xacro:carver_wheel_transmission wheel_prefix="base_rear_right" />
  <xacro:carver_steering_hinge_transmission wheel_prefix="base_front_right" />
  <xacro:carver_steering_hinge_transmission wheel_prefix="base_front_left" />


  <!-- Gazebo friction/contact parameters -->
  
  <!-- <gazebo>
    <mu1 value="10"/>
    <mu2 value="10"/>
    <kp value="10000000.0"/>
    <kd value="1.0"/>
    <fdir1 value="1 0 0"/>
    <minDepth value="0.001"/>
    <maxContacts value="64"/>
  </gazebo> -->


  <gazebo reference="base_footprint">
    <minDepth>0.0001</minDepth>
    <kp value="10000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="base_link">
    <minDepth>0.0001</minDepth>
    <kp value="10000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <!-- <gazebo reference="front_left_sterring_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="front_right_sterring_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo> -->


  <gazebo reference="front_left_wheel_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="front_right_wheel_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>


  <gazebo reference="rear_left_wheel_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="rear_right_wheel_Link">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <minDepth>0.0001</minDepth>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

</robot>