<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <link
    name="IMU_R_Link">
    <inertial>
      <origin
        xyz="0.000436358638984391 8.66736194223838E-05 -0.0010632487544171"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="1e-7" ixy="0" ixz="0"
        iyy="1e-7" iyz="0"
        izz="1e-7"
      />
    </inertial>
    <visual name='IMU_R_Link_visual'>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find carver_description)/meshes/IMU_R_Link.dae" />
      </geometry>
      <material name='imu_r_material'>
        <color rgba="0.75 0.75 0.75 1" />
          <ambient>0.1 0.1 0.1 1</ambient>
          <diffuse>0.1 0.1 0.2 1</diffuse>
          <specular>0 0 0 0</specular>
          <emissive>0 0 0 1</emissive>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find carver_description)/meshes/IMU_R_Link.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_IMU_R_joint"
    type="fixed">
    <origin
      xyz="0.0271694412238607 -0.0191012435918216 0.383"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="IMU_R_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="IMU_L_Link">
    <inertial>
      <origin
        xyz="0.000436358638983645 8.6673619412142E-05 -0.0010632487544171"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="1e-7" ixy="0" ixz="0"
        iyy="1e-7" iyz="0"
        izz="1e-7"
      />
    </inertial>
    <visual name='IMU_L_Link_visual'>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find carver_description)/meshes/IMU_L_Link.dae" />
      </geometry>
      <material name='imu_l_material'>
        <color rgba="0.75 0.75 0.75 1" />
          <ambient>0.1 0.1 0.1 1</ambient>
          <diffuse>0.1 0.1 0.2 1</diffuse>
          <specular>0 0 0 0</specular>
          <emissive>0 0 0 1</emissive>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find carver_description)/meshes/IMU_L_Link.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_IMU_L_joint"
    type="fixed">
    <origin
      xyz="0.029419441223861 0.0191387564081886 0.383"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="IMU_L_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <gazebo reference="IMU_R_Link">
      <gravity>true</gravity>
      <sensor name="IMU_R" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
          <orientation>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </z>
          </orientation>
          <angular_velocity>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </z>
          </angular_velocity>
          <linear_acceleration>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </z>
          </linear_acceleration>
      </imu>
      <plugin name="IMU_R" filename="libgazebo_ros_imu_sensor.so">
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
          <frame_name>IMU_R_Link</frame_name>
          <ros>
          <remapping>~/out:=imu_R</remapping>
          </ros>
      </plugin>
      </sensor>
  </gazebo> 

  <gazebo reference="IMU_L_Link">
      <gravity>true</gravity>
      <sensor name="IMU_L" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
          <orientation>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-3</stddev>
              </noise>
          </z>
          </orientation>
          <angular_velocity>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              </noise>
          </z>
          </angular_velocity>
          <linear_acceleration>
          <x>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </x>
          <y>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </y>
          <z>
              <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              </noise>
          </z>
          </linear_acceleration>
      </imu>
      <plugin name="IMU_L" filename="libgazebo_ros_imu_sensor.so">
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
          <frame_name>IMU_L_Link</frame_name>
          <ros>
          <remapping>~/out:=imu_L</remapping>
          </ros>
      </plugin>
      </sensor>
  </gazebo> 

</robot>
